@model IEnumerable<BookExchange.Models.Loans>

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>BookSearch</title>

    <link rel="stylesheet" href="~/css/LoanIndex.css" asp-append-version="true" />
</head>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.LoanerName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.LoanerEmail)
            </td>
            <td>
                    <a href="/Books/Details?ISBN=@Html.DisplayFor(modelItem => item.ISBN)">@Html.DisplayFor(modelItem => item.ISBN)</a>
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.LoanDate)
            </td>
            
            <td>
                <a asp-action="Rent" asp-route-id="@item.Id">Rent</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
